* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #121212;
    color: white;

    main-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 30px;
}

header {
    height: 80px;

    background: black;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 30px;

    border-bottom: 3px solid #ff1e1e;
}

.user-link {
    text-decoration: none;
}

header h1 {
    text-transform: uppercase;
}

.vermelho {
    color: #ff1e1e;
}

.menu-btn {
    font-size: 35px;
    cursor: pointer;
    color: #ff1e1e;
}

.user-icon {
    font-size: 35px;
    cursor: pointer;
}

#sidebar {

    position: fixed;

    top: 80px;
    left: -260px;

    width: 260px;
    height: 100vh;

    background: #1b1b1b;

    transition: 0.3s;

    padding: 20px;

    border-right: 2px solid #ff1e1e;
}

#sidebar.active {
    left: 0;
}

#sidebar h2 {
    color: #ff1e1e;
    margin-bottom: 20px;
}

#sidebar ul {
    list-style: none;
}

#sidebar li {

    padding: 15px;

    margin-bottom: 10px;

    background: #252525;

    border-radius: 8px;

    cursor: pointer;
}

#sidebar li:hover {
    background: #ff1e1e;
}

#sidebarcatego {
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}


.titulo{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}











footer {

    position: fixed;

    bottom: 0;

    margin-top: auto;

    text-align: center;

    padding: 25px;

    padding-left: 40%;

    color: #777;

    font-size: 14px;
}